@charset "UTF-8";
/* コピペ用コード */
.font-size-dummy {
  font-size: 0.75rem; /* 12px */
  font-size: 0.8125rem; /* 13px */
  font-size: 0.875rem; /* 14px */
  font-size: 1rem; /* 16px */
  font-size: 1.25rem; /* 20px */
  font-size: 1.5rem; /* 24px */
  font-size: 1.75rem; /* 28px */
}
@media screen and (max-width: 896px) {
}

/* 共通 */
body {
  font-family: Arial, 'Hiragino Sans', 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
  color: #24292e;
  line-height: normal;
}

a {
  color: #2d2d2d;
  text-decoration: none;
}

.section__inner {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 5%;
}
@media screen and (max-width: 896px) {
  .section__inner {
    width: 100%;
  }
}

.section__text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section__title {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.17;
  text-align: center;
}

.special__title,
.fashion__title {
  margin-bottom: 20px;
}

.catalog__title,
.antique__title {
  margin-bottom: 40px;
}

.section__desc,
.sub-section__desc {
  font-size: 0.875rem;
  text-align: center;
}

.catalog__desc,
.antique__desc {
  text-align: left;
}

.section__image {
  max-width: 500px;
  height: auto;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2.5vw;
}
@media screen and (max-width: 896px) {
  .flex {
    flex-direction: column;
    gap: 0;
  }
}

.flex--reverse {
  flex-direction: row-reverse;
}
@media screen and (max-width: 896px) {
  .flex--reverse {
    flex-direction: column-reverse;
  }
}

.flex__item {
  width: 50%;
}
@media screen and (max-width: 896px) {
  .flex__item {
    width: 100%;
  }
}

/* Read Moreボタン */
.section__link {
  font-size: 0.75rem;
  width: 132px;
  height: 42px;
  border: 1px solid #2a2a2a;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* main-visual */
.main-visual {
  position: relative;
  margin-bottom: 80px;
}

.main__logo {
  position: absolute;
  top: 30px;
  right: 30px;
}

.main-visual__image {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

/* special */
.special__inner {
  margin-bottom: 80px;
}

.sub-section__wrapper {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
}
@media screen and (max-width: 896px) {
  .sub-section__wrapper {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
}

.spacial__desc {
  margin-bottom: 40px;
}

.sub-section__inner {
  position: relative;
}

.sub-section__inner:hover {
  opacity: 0.7;
}

.sub-section__text {
  padding: 15px 0;
  width: 290px;
  color: #fff;
  line-height: 1.5;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sub-section__title {
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 2px;
}
.sub-section__text--back {
  max-width: 510px;
  max-height: 510px;
}

.sub-section__image {
  width: 100%;
  height: auto;
}

.special__sub-section {
  text-align: center;
}

/* fashion */
.fashion__inner {
  width: 100%;
  height: 520px;
  background: url(../img/fashion.jpg) no-repeat center/cover;
  padding-top: 60px;
  margin-bottom: 80px;
}
@media screen and (max-width: 896px) {
  .fashion__inner {
    padding-top: 30px;
    margin-bottom: 50px;
  }
}

.fashion__desc {
  margin-bottom: 30px;
}

/* gray-area */
.gray-area {
  background: #f5f5f5;
  padding: 60px 0;
}
@media screen and (max-width: 896px) {
  .gray-area {
    padding: 30px 0;
  }
}

.section--column {
  display: flex;
  justify-content: space-between;
}

.catalog__desc:not(:last-of-type),
.antique__desc:not(:last-of-type) {
  margin-bottom: 30px;
}

/* catalog */
.catalog__inner {
  margin-bottom: 120px;
}
@media screen and (max-width: 896px) {
  .catalog__inner {
    margin-bottom: 60px;
  }
}

.catalog__desc:last-of-type {
  margin-bottom: 0;
}

@media screen and (max-width: 896px) {
  .catalog .section__image {
    margin-bottom: 60px;
  }
}

/* antique */
.antique__inner {
  margin-bottom: 0;
}

@media screen and (max-width: 896px) {
  .antique__text {
    margin-bottom: 60px;
  }
}

.antique__desc:last-of-type {
  margin-bottom: 60px;
}

/* footer */
.footer--top {
  color: #fff;
  background: #333;
}

.footer .top__inner {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-items: start;
  max-width: 1200px;
  padding: 100px 5%;
  margin: 0 auto;
}
@media screen and (max-width: 896px) {
  .footer .top__inner {
    grid-template-columns: 1fr;
    justify-items: normal;
    gap: 30px;
    padding: 30px 5% 60px;
  }
}

.footer__logo {
  margin-left: auto;
}

.footer__title {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.125;
  margin-bottom: 10px;
}

.footer__nav {
  max-width: 151px;
}

.footer__nav,
.footer__desc {
  font-size: 0.75rem;
  line-height: 2;
}

.footer__nav-link {
  color: #fff;
}

.footer__nav-item::before {
  content: ' - ';
}

.footer--right {
  max-width: 310px;
}

.footer__copyright {
  display: block;
  font-size: 0.75rem;
  line-height: 1.17;
  text-align: center;
  padding: 30px 0;
}
